<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt_PT" lang="pt_PT">
  <head>
    <title>Assinatura</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      @media (prefers-color-scheme: dark) {
        .darkLogo {
          display: none !important;
        }

        .lightLogoWrapper,
        .lightLogo {
          display: block !important;
        }
      }

      html,
      body,
      a,
      img,
      table,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: middle;
        font-size: 18px;
        font-family: "Arial";
        line-height: 30px;
        position: static;
      }
    </style>
  </head>

  <body>
    <table>
      <tr>
        <td style="padding-right: 15px">
          <table>
            <tr>
              <td>
                <!-- 
                                -->
                <a
                  href="http://sinfo.org/"
                  target="_blank"
                  style="padding-left: 10px; padding-right: 20px"
                  ><img
                    style="width: 283px; height: 83px"
                    src="https://sinfo.ams3.cdn.digitaloceanspaces.com/static/33-sinfo/signature/Logo-Mail-Signature.png"
                    alt=""
                /></a>
              </td>
            </tr>
            <tr>
              <td style="padding-top: 10px">
                <a href="http://sinfo.org/" target="_blank"
                  ><img
                    style="width: 157px; height: 28px"
                    src="https://sinfo.ams3.cdn.digitaloceanspaces.com/static/33-sinfo/signature/Site-Mail-Signature.png"
                    alt=""
                /></a>
                <a href="https://www.facebook.com/sinfoist/" target="_blank"
                  ><img
                    src="https://sinfo.ams3.digitaloceanspaces.com/static/27-sinfo/signature/facebook.png"
                    alt=""
                /></a>
                <a href="https://www.instagram.com/sinfoist/" target="_blank"
                  ><img
                    src="https://sinfo.ams3.digitaloceanspaces.com/static/27-sinfo/signature/instagram.png"
                    alt=""
                /></a>
                <a href="https://twitter.com/sinfoist" target="_blank"
                  ><img
                    src="https://sinfo.ams3.digitaloceanspaces.com/static/27-sinfo/signature/twitter.png"
                    alt=""
                /></a>
                <a
                  href="https://www.linkedin.com/company/sinfoist"
                  target="_blank"
                  ><img
                    src="https://sinfo.ams3.digitaloceanspaces.com/static/27-sinfo/signature/linkedin.png"
                    alt=""
                /></a>
                <a href="https://www.youtube.com/user/sinfoist" target="_blank"
                  ><img
                    src="https://sinfo.ams3.digitaloceanspaces.com/static/27-sinfo/signature/youtube.png"
                    alt=""
                /></a>
              </td>
            </tr>
          </table>
        </td>
        <td style="font-size: 18px; line-height: 30px">
          <b>{{.Member}}</b>
          <br />
          {{.MemberTeam}}
          <br />
          <a href="mailto:{{.MemberEmail}}">{{.MemberEmail}}</a>
          <br />
          {{.MemberPhoneNumber}}
        </td>
      </tr>
    </table>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
      integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
      data-cf-beacon='{"version":"2024.11.0","token":"3c3fc6e6382e42adab1fe649438c790f","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}'
      crossorigin="anonymous"
    ></script>
  </body>
</html>
