<div class="header" *ngIf="teamMember && team">
    <h4 class="name">{{teamMember.member.name}}</h4>
    <h3 class="name">{{team.name}}</h3>

    <app-photo class="member-image-wrapper" setBy="height" [url]="teamMember.member.img" [role]="teamMember.role">
    </app-photo>
</div>

<div *ngIf="form">
    <form class="form" [formGroup]="form.form">
        <label>Role:
            <select class="form-control" (change)="selectRole($event.target.value)" formControlName="role" name="status"
                required>
                <option value="" disabled>Roles</option>
                <option *ngFor="let role of form.getRoleOptions()" [value]="role">{{role | parseStatus}}</option>
            </select>
        </label>

    </form>

    <div class="buttons">
        <button class="delete" type="submit" (click)="delete()">
            Remove from team
        </button>
        
        <button class="save" type="submit" [disabled]="!form.valid()" (click)="submit()">
            Save
        </button>
    </div>
</div>