.thread-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 0.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
}

.communication-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.communication-image {
    width: 5%;
    height: 100%;
}

.to {
    margin-right: 2%;
}

.from {
    margin-left: 2%;
}

.communication-text {
    width: 93%;
}

.communication-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 3vh;
}

.communication-details-left {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.communication-details-add-comment:hover {
    cursor: pointer;
}

.communication-details-date, .communication-details-add-comment {
    color: var(--font-tertiary);
    font-size: small;
}

.communication-details-date {
    margin-right: 5%;
}

.communication-status-kind {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.communication-status {
    height: 100%;
}

.communication-status img {
    height: 100%;
    width: auto;
}

.communication-kind {
    margin-left: 2%;
}

.communication-kind.clickable {
    width: fit-content;
    border: 1px solid;
    padding: 1%;
    border-radius: 0.3rem;
}

.communication-kind.clickable:hover {
    cursor: pointer;
    background-color: var(--font-primary);
    color: var(--background-default);
}

.thread-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.line {
    width: 100%;
}

.line hr {
    border-color: var(--font-primary);
    height: 1px;
}

.comment {
    width: 95%;
}

.comment * {
    font-size: small;
}

.comment {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
}

.comment .communication-content {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: 0;
}

.new-thread-operations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-thread .form {
    width: 100%;
}

.new-thread textarea {
    width: 100%;
    height: 25vh;
    background-color: var(--background-default);
    color: var(--font-primary);
    border: 0;
}

.new-comment textarea {
    width: 100%;
    height: 10vh;
    background-color: var(--background-default);
    color: var(--font-primary);
    border: 0;
}

.communication-text-operations {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 93%;
}

.new-thread-operations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-thread-operations select, .send {
    height: 100%;
    background-color: var(--background-default) !important;
    color: var(--font-primary) !important;
    border: 1px solid var(--font-primary) !important;
}

.send:hover {
    cursor: pointer;
    background-color: var(--font-primary) !important;
    color: var(--background-default) !important;
}

.send:disabled, .send:disabled:hover {
    cursor: default;
    background-color: var(--background-secondary) !important;
    color: var(--font-primary) !important;
}
