<div class="thread-wrapper" *ngIf="_thread && !form.active">
    <div class="communication-content">
        
        <div class="communication-image to" *ngIf="_thread.kind !== 'FROM' && _thread.entry.member ">
            <app-photo [setBy]="height" [url]="_thread.entry.member.img"></app-photo>
        </div>
        <div class="communication-text" *ngIf="_thread.entry.editPostForm.isActive() === false; else editEntryForm" [innerHTML]="_thread.entry.text | markdown"></div> 
        
        <ng-template #editEntryForm>
            <div class="communication-edit">
                <div class="communication-text edit-post form" [formGroup]="_thread.entry.editPostForm.form">
                    <textarea #commentText type="text" formControlName="text"></textarea>
                </div>
                <div class="communication-text-operations">
                    <button class="send btn btn-outline-primary"
                    (click)="editPost(_thread.entry.editPostForm)">
                        Save
                    </button>
                </div>
            </div>
        </ng-template>

        <div class="communication-image from" *ngIf="_thread.kind === 'FROM' ">
            <app-photo [setBy]="height" [url]="speaker.imgs.internal"></app-photo>
        </div>
        
    </div>
    
    <div class="communication-details">
        
        <div class="communication-details-left">
            <div class="communication-details-date">
                {{ _thread.entry.posted | date:'dd MMMM yyyy HH:mm' : '+0100' }}
            </div>
            
            <div class="communication-details-add-comment" (click)="comment()">
                Comment
            </div>
            
            <div class="communication-details-edit-post" (click)="_thread.entry.edit()">
                Edit
            </div>
            
        </div>
        
        
        <span class="communication-status-kind">

            <div class="communication-status">
                <img *ngIf="_thread.status === 'APPROVED'" class="communication-status" src="assets/icons/valid.png">
                <img *ngIf="_thread.status === 'PENDING'" class="communication-status" src="assets/icons/pending.png">
                <img *ngIf="_thread.status === 'REVIEWED'" class="communication-status" src="assets/icons/reviewed.png">
            </div>
            
            
            <div class="communication-kind" [class.clickable]="_thread.kind === 'TEMPLATE'"
            (click)="openTemplate(_thread.entry.id)">
                {{ _thread.kind }}
            </div>
        </span>
    </div>
    
    <div class="thread-comments" *ngIf="_thread.comments.length > 0 || newCommentForm.isActive()">
        
        <div class="line">
            <hr />
        </div>
        
        <div class="comment new-comment" *ngIf="newCommentForm.isActive()">
            <div class="communication-image to" *ngIf="me">
                <app-photo [setBy]="width" [url]="me.img"></app-photo>
            </div>
            
            <div class="communication-content">
                    
                <div class="header">
                    <div class="communication-details">
                        
                        <div class="communication-member-name" *ngIf="me">
                            <b>{{ me.name }}</b>
                        </div>
                        
                    </div>
                </div>
                    
                <div class="communication-text form" [formGroup]="newCommentForm.form">
                    <textarea #commentText type="text" formControlName="text"></textarea>
                </div>
                
                <div class="communication-text-operations">
                    <button class="send btn btn-outline-primary" [disabled]="!newCommentForm.valid()"
                    (click)="submitComment()">
                        Save
                    </button>
                </div>
            
            </div>
        </div>
    
    <div class="comment" *ngFor="let comment of _thread.comments">
        
        <div class="communication-image to" *ngIf="comment.member">
            <app-photo [setBy]="width" [url]="comment.member.img"></app-photo>
        </div>
        
        <div class="communication-content">
            
            <div class="header">
                <div class="communication-details">
                    
                    <div class="communication-member-name" *ngIf="comment.member">
                        <b>{{ comment.member.name }}</b>
                    </div>
                    
                    <div class="communication-details-date">
                        {{ comment.posted | date:'dd MMMM yyyy HH:mm' : '+0100' }}
                    </div>
                    
                </div>
            </div>
            
            <div class="communication-text" *ngIf="comment.editPostForm.isActive() === false; else editCommentForm" [innerHTML]="comment.text | markdown | highlightTags : members"></div>
            
            <ng-template #editCommentForm>
                <div class="communication-edit">
                    <div class="communication-text edit-post form" [formGroup]="comment.editPostForm.form">
                        <textarea #commentText type="text" formControlName="text"></textarea>
                    </div>
                    <div class="communication-text-operations">
                        <button class="send btn btn-outline-primary"
                        (click)="editPost(comment.editPostForm)">
                            Save
                        </button>
                    </div>
                </div>
            </ng-template>
            
            <div class="communication-details-left">
                
                <div class="communication-details-edit-post" (click)="comment.edit()">
                    Edit
                </div>
                
            </div>
        </div>
            
        </div>
    </div>
</div>

<div class="thread-wrapper new-thread" *ngIf="me && form && form.active">
    
    <div class="communication-content">
        
        <div class="communication-image to">
            <app-photo [setBy]="height" [url]="me.img"></app-photo>
        </div>
        
        <div class="form" [formGroup]="form.form">
            <textarea #commentText type="text" formControlName="text"></textarea>
        </div>

    </div>

    <div class="new-thread-operations" [formGroup]="form.form">
        <select formControlName="kind">
            <option *ngFor="let option of form.options" [ngValue]="option">{{option}}</option>
        </select>

        <button class="send btn btn-outline-primary" [disabled]="!form.valid()" (click)="saveNewThread()">
            Save
        </button>
    </div>

</div>