VITE_GOOGLE_CLIENT_ID=118036057137-p0vfv9jp2drnqmigl0ljqbd1sacvuo87.apps.googleusercontent.com
VITE_GOOGLE_SCOPE="email profile openid https://www.googleapis.com/auth/gmail.compose"
VITE_API_URL=http://localhost:8080