:root {
    --suggested: #fe8f1d;
    --selected: #532ee7;
    --on-hold: #009999;
    --contacted: #fbca04;
    --in-conversations: #1f7ce5;
    --accepted: #009700;
    --rejected: #e22021;
    --given-up: #323232;
    --announced: #01d100;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-default);
}

* {
    font-family: 'Open Sans', sans-serif !important;
    color: var(--font-primary);
}

.background-default {
    background-color: var(--background-default);
}

.background-secondary {
    background-color: var(--background-secondary);
}

.font-default {
    color: var(--font-default);
}

.font-secondary {
    color: var(--font-secondary);
}

a,
u {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: var(--font-primary);
}
