<div class="header" *ngIf="speaker">
    <h4 class="name">{{speaker.name}}</h4>
    <div appSquareImage [setBy]="'height'" class="speaker-image-wrapper" *ngIf="image">
        <div class="speaker-image" [ngStyle]="{'background-image': image}"></div>
    </div>
</div>

<div *ngIf="speaker && forms && forms.speaker && forms.contact && forms.contact.ready()">

    <ngb-tabset>

        <ngb-tab title="General">
            <ng-template ngbTabContent>
                <form class="form" [formGroup]="forms.speaker.form">

                    <label>Bio:<textarea type="text" formControlName="bio"></textarea></label>
                    <label>Name:<input type="text" formControlName="name"></label>
                    <label>Title:<input type="text" formControlName="title"></label>
                    <label>Notes:<textarea type="text" formControlName="notes"></textarea></label>

                </form>

                <div class="buttons">
                    <button class="save" type="submit" [disabled]="!forms.speaker.valid()" (click)="editSpeaker()">
                        Save
                    </button>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Images">
            <ng-template ngbTabContent>
                <div class="image-form">
                    <form class="form" [formGroup]="forms.image.internal.form">
                        <label>Internal:<input type="file" formControlName="image"
                                (change)="internalImageUploaded($event)"></label>
                    </form>

                    <div class="buttons">
                        <button class="save" type="submit" [disabled]="!forms.image.internal.valid()"
                            (click)="editSpeakerInternalImage()">Save
                        </button>
                    </div>
                </div>

                <div class="image-form" *ngIf="coordinatorAccessLevel()">
                    <form class="form" [formGroup]="forms.image.speaker.form">
                        <label>Public:<input type="file" formControlName="image"
                                (change)="speakerImageUploaded($event)"></label>
                    </form>

                    <div class="buttons">
                        <button class="save" type="submit" [disabled]="!forms.speaker.valid()"
                            (click)="editSpeakerPublicImage()">Save
                        </button>
                    </div>
                </div>


                <div class="image-form" *ngIf="coordinatorAccessLevel()">
                    <form class="form" [formGroup]="forms.image.company.form">
                        <label>Company:<input type="file" formControlName="image"
                                (change)="companyImageUploaded($event)"></label>
                    </form>

                    <div class="buttons">
                        <button class="save" type="submit" [disabled]="!forms.speaker.valid()"
                            (click)="editSpeakerCompanyImage()">Save
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Contacts">
            <ng-template ngbTabContent>
                <form class="form" [formGroup]="forms.contact.form">

                    <div class="subform">
                        <h4>Mails</h4>

                        <div class="mails" formArrayName="mails">
                            <div *ngFor="let mail of forms.contact.form.get('mails').controls; let i=index;">
                                <div [formGroupName]="i">
                                    <label>Mail:<input type="text" formControlName="mail"></label>
                                    <label>Personal:<input type="checkbox" formControlName="personal"></label>
                                    <label>Valid:<input type="checkbox" formControlName="valid"></label>
                                </div>
                            </div>
                        </div>

                        <button class="push" (click)="forms.contact.pushMail()">Add mail</button>
                    </div>

                    <div class="subform">
                        <h4>Socials</h4>

                        <div class="nested-form" formGroupName="socials">
                            <label>Facebook:<input type="text" formControlName="facebook"></label>
                            <label>Github:<input type="text" formControlName="github"></label>
                            <label>Linkedin:<input type="text" formControlName="linkedin"></label>
                            <label>Skype:<input type="text" formControlName="skype"></label>
                            <label>Twitter:<input type="text" formControlName="twitter"></label>
                        </div>
                    </div>

                    <div class="subform">
                        <h4>Phones</h4>

                        <div class="phones" formArrayName="phones">
                            <div *ngFor="let phone of forms.contact.form.get('phones').controls; let i=index;">
                                <div [formGroupName]="i">
                                    <label>Phone:<input type="text" formControlName="phone"></label>
                                    <label>Valid:<input type="checkbox" formControlName="valid"></label>
                                </div>
                            </div>
                        </div>

                        <button class="push" (click)="forms.contact.pushPhone()">Add phone</button>
                    </div>

                </form>

                <div class="buttons">
                    <button class="save" type="submit" [disabled]="!forms.contact.valid()" (click)="editContact()">
                        Save
                    </button>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Participation">
            <ng-template ngbTabContent>
                <div class="operations-status"
                    *ngIf="forms.stepStatus.options && forms.stepStatus.options.steps.length > 0">
                    <label>Step Status:</label>
                    <form class="form" [formGroup]="forms.stepStatus.form">
                        <app-dropdown [labelTemplate]="stepStatusLabelTemplate"
                            [optionsTemplate]="stepStatusOptionsTemplate" [options]="forms.stepStatus.options">
                        </app-dropdown>
                        <ng-template #stepStatusLabelTemplate>
                            <div *ngIf="!forms.stepStatus.label; else showCurrentStatus"
                                class="speaker-event-option-status">Change status</div>
                            <ng-template #showCurrentStatus>
                                <div class="speaker-event-option-status" [ngClass]="{
                                    'suggested': forms.stepStatus.label == 'SUGGESTED',
                                    'selected': forms.stepStatus.label == 'SELECTED',
                                    'on-hold': forms.stepStatus.label == 'ON_HOLD',
                                    'contacted': forms.stepStatus.label == 'CONTACTED',
                                    'in-conversations': forms.stepStatus.label == 'IN_CONVERSATIONS',
                                    'accepted': forms.stepStatus.label == 'ACCEPTED',
                                    'rejected': forms.stepStatus.label == 'REJECTED',
                                    'given-up': forms.stepStatus.label == 'GIVEN_UP',
                                    'announced': forms.stepStatus.label == 'ANNOUNCED'
                                }">{{ forms.stepStatus.label | parseStatus }}</div>
                            </ng-template>
                        </ng-template>
                        <ng-template #stepStatusOptionsTemplate>
                            <button *ngFor="let step of forms.stepStatus.options.steps" (click)="changeStepStatus(step)"
                                ngbDropdownItem>
                                <div class="speaker-event-option-status" [ngClass]="{
                                    'suggested': step.next == 'SUGGESTED',
                                    'selected': step.next == 'SELECTED',
                                    'on-hold': step.next == 'ON_HOLD',
                                    'contacted': step.next == 'CONTACTED',
                                    'in-conversations': step.next == 'IN_CONVERSATIONS',
                                    'accepted': step.next == 'ACCEPTED',
                                    'rejected': step.next == 'REJECTED',
                                    'given-up': step.next == 'GIVEN_UP',
                                    'announced': step.next == 'ANNOUNCED'
                                }">{{ step.next | parseStatus }}</div>
                            </button>
                        </ng-template>
                    </form>
                    <div class="buttons">
                        <button class="save" type="submit" [disabled]="!forms.stepStatus.valid()"
                            (click)="editParticipationStepStatus()">
                            Save
                        </button>
                    </div>
                </div>
                <div class="add-participation" *ngIf="participation === null">
                    <button class="save" (click)="addParticipation()">
                        Add participation
                    </button>
                </div>

                <div class="operations-status">
                    <label>Set Status:</label>
                    <form class="form" [formGroup]="forms.status.form">
                        <app-dropdown [labelTemplate]="statusLabelTemplate" [optionsTemplate]="statusOptionsTemplate"
                            [options]="forms.status.options">
                        </app-dropdown>
                        <ng-template #statusLabelTemplate>
                            <div *ngIf="!forms.status.label; else showCurrentStatus"
                                class="speaker-event-option-status">Change status</div>
                            <ng-template #showCurrentStatus>
                                <div class="speaker-event-option-status" [ngClass]="{
                                    'suggested': forms.status.label == 'SUGGESTED',
                                    'selected': forms.status.label == 'SELECTED',
                                    'on-hold': forms.status.label == 'ON_HOLD',
                                    'contacted': forms.status.label == 'CONTACTED',
                                    'in-conversations': forms.status.label == 'IN_CONVERSATIONS',
                                    'accepted': forms.status.label == 'ACCEPTED',
                                    'rejected': forms.status.label == 'REJECTED',
                                    'given-up': forms.status.label == 'GIVEN_UP',
                                    'announced': forms.status.label == 'ANNOUNCED'
                                }">{{ forms.status.label | parseStatus }}</div>
                            </ng-template>
                        </ng-template>
                        <ng-template #statusOptionsTemplate>
                            <button *ngFor="let status of forms.status.options" (click)="changeStatus(status)"
                                ngbDropdownItem>
                                <div class="speaker-event-option-status" [ngClass]="{
                                    'suggested': status == 'SUGGESTED',
                                    'selected': status == 'SELECTED',
                                    'on-hold': status == 'ON_HOLD',
                                    'contacted': status == 'CONTACTED',
                                    'in-conversations': status == 'IN_CONVERSATIONS',
                                    'accepted': status == 'ACCEPTED',
                                    'rejected': status == 'REJECTED',
                                    'given-up': status == 'GIVEN_UP',
                                    'announced': status == 'ANNOUNCED'
                                }">{{ status | parseStatus }}</div>
                            </button>
                        </ng-template>
                    </form>
                    <div class="buttons">
                        <button class="save" type="submit" [disabled]="!forms.status.valid()"
                            (click)="editParticipationStatus()">
                            Save
                        </button>
                    </div>
                </div>

                <div class="edit-participation" *ngIf="participation">
                    <form class="form" [formGroup]="forms.participation.form">

                        <label>Member:<input type="text" formControlName="member"></label>

                        <div class="nested-form" formGroupName="room">
                            <label>Room cost:<input type="number" formControlName="cost"></label>
                            <label>Room type:<input type="text" formControlName="type"></label>
                            <label>Room notes:<textarea type="text" formControlName="notes"></textarea></label>
                        </div>

                        <label>Feedback:<textarea type="text" formControlName="feedback"></textarea></label>

                    </form>

                    <div class="buttons">
                        <button class="save" type="submit" [disabled]="!forms.participation.valid()"
                            (click)="editParticipation()">
                            Save
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>

</div>