.header {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.subform {
    margin-bottom: 5%;
}

input,
textarea {
    width: 100%;
    background-color: var(--background-default);
    color: var(--font-primary);
    border: 1px solid var(--font-primary);
    padding: 1%;
    font-size: small;
}

textarea {
    height: 20vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons button {
    font-size: small;
    padding: 2%;
    border-radius: 0.3rem;
    text-shadow: none;
    width: fit-content;
}

.push {
    font-size: small;
    padding: 2%;
    border-radius: 0.3rem;
    text-shadow: none;
    background-color: var(--background-default);
    color: var(--font-primary);
    border-color: var(--font-primary);
    width: 15%;
}

.save {
    background-color: #00c000;
    color: white;
    border-color: transparent;
}

.save:disabled {
    background-color: var(--background-default);
    color: #00c000;
    border-color: #00c000;
}

.close {
    background-color: var(--background-default);
    color: var(--font-primary);
    border: 1px solid var(--font-primary);
}

:host /deep/ .dropdown-menu {
    background-color: var(--background-default);
    max-height: 50vh;
    overflow: scroll;
}

:host /deep/ .nav-link, :host /deep/ .dropdown-item, :host /deep/ .dropdown-item * {
    background-color: transparent;
    color: var(--font-primary);
}

:host /deep/ .nav-link.active, :host /deep/ .dropdown-item.active, :host /deep/ .dropdown-item.active * {
    background-color: var(--font-primary);
    color: var(--background-default);
}
