.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.label {
    position: absolute;
    font-size: 0.56vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    perspective: 1px;
    border-radius: 50%;
}

.label span {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper:hover .label {
    opacity: 1;
    background-color: var(--background-default-dim);
}

.status {
    border-style: solid;
}

.suggested, .team-leader {
    color: var(--suggested);
    border-color: var(--suggested);
}

.selected, .coordinator {
    color: var(--selected);
    border-color: var(--selected);
}

.on-hold {
    color: var(--on-hold);
    border-color: var(--on-hold);
}

.contacted {
    color: var(--contacted);
    border-color: var(--contacted);
}

.in-conversations {
    color: var(--in-conversations);
    border-color: var(--in-conversations);
}

.accepted, .admin {
    color: var(--accepted);
    border-color: var(--accepted);
}

.rejected {
    color: var(--rejected);
    border-color: var(--rejected);
}

.given-up {
    color: var(--given-up);
    border-color: var(--given-up);
}

.announced {
    color: var(--announced);
    border-color: var(--announced);
}
