<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SINFO {{.Edition}} - Additional Information</title>
</head>

<body>
  <p>Good morning {{.ContactName}},</p>

  <p>I'm sending you this email with some information relevant to your participation in the event.</p>

  <p>This year, as already mentioned in previous conversations, the event will be held at the <strong>Técnico Innovation
      Center</strong>,
    which is located next to <strong>Arco do Cego Garden in Saldanha, Lisbon.</strong></p>

  <p>The size of the stands this year will be <strong>2.5m x 2.5m</strong>, operating on an "open space" model. There
    are islands of <strong>four stands</strong> and islands of <strong>two stands</strong>. In the four-stand islands,
    each stand has <strong><u>two</u>
      2.5 meter wide walls</strong>, while in the
    two-stand islands, each stand has <strong><u>one</u> 2.5 meter wide wall</strong>. The usable area of the stand is
    delimited by a carpet on
    each stand.</p>

  <p><a href="https://drive.google.com/drive/folders/1r47_QX9VvGKfUKJT5kZ8dZoCUEg2OVts">Here</a> are some examples to
    help you visualize the stands. It's <strong>important</strong> that you take this information into account
    when planning the arrangement and content of the stand so that everything fits in the usable space.</p>

  <p>If you have any questions or feel that the images aren't clear enough, I'm happy to arrange a meeting and to help
    with any questions you might have.</p>

  <p>Thank you very much,<br />
    Best regards,</p>
</body>

</html>