<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SINFO {{.Edition}} - Informações Adicionais</title>
</head>

<body>
  <p>Bom dia {{.ContactName}},</p>

  <p>Envio este email com algumas informações relevantes para a participação no evento.</p>

  <p>Este ano, como já foi referido em comunicações anteriores, a <strong>localização</strong> do evento será no
    <strong>Técnico
      Innovation
      Center</strong>, que se localiza ao lado do <strong>Jardim Arco do Cego, no Saldanha, em Lisboa</strong>.
  </p>

  <p>O tamanho dos <strong>Stands</strong> este ano será de <strong>2.5m x 2.5m</strong>, funcionando num modelo "open
    space". Existem
    ilhas de quatro e
    de dois stands. Nas ilhas de <strong>4 stands</strong>, cada stand tem <u>duas</u> paredes de <strong>2.5m de
      largura</strong>,
    enquanto que
    nas ilhas de <strong>2
      stands</strong>, cada stand tem <u>uma</u> parede de <strong>2.5m de largura</strong>. A área útil de utilização
    do stand é
    delimitada por
    uma carpete em cada stand.</p>

  <p><a href="https://drive.google.com/drive/folders/1r47_QX9VvGKfUKJT5kZ8dZoCUEg2OVts">Aqui</a> pode encontrar alguns
    exemplos para facilitar a visualização dos stands. Dito isto, é importante que tenham em
    consideração estas informações ao planearem a disposição e o conteúdo do stand para que caiba tudo no espaço útil.
  </p>

  <p>Caso tenha alguma dúvida ou considere que as imagens não são suficientemente explicativas, estou disponível para
    esclarecer qualquer questão.</p>

  <p>Muito obrigado,<br />
    Com os melhores cumprimentos,</p>
</body>

</html>