<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SINFO {{.Edition}} - Download de CVs</title>
</head>

<body>
  <p>Bom dia {{.ContactName}},</p>

  <p>De modo a finalizarmos a participação da {{.Company}} na SINFO {{.Edition}}, vimos por este meio facultar-vos os
    CVs recolhidos pela nossa equipa durante o evento. Pedimos desculpa pela demora, esta deveu-se ao processo de
    filtragem dos mesmos após terminado o prazo de submissão.</p>

  <p>Para aceder ao repositório de CVs deve seguir os seguintes passos:</p>

  <ol>
    <li>Entrar na nossa <a href="https://app.sinfo.org/">Web App</a> e fazer login com a mesma conta que utilizou
      durante a semana do evento. É importante que aceda com a(s) <strong>mesma(s) conta(s)</strong> utilizada(s)
      durante o evento, já
      que apenas as contas promovidas a <i>"Company"</i> conseguem aceder aos CVs</li>
    <li>Na página inicial terá duas opções:
      <ul>
        <li><strong>Download CVs</strong> - É feito o download de um ficheiro .zip com todos os CVs recolhidos na SINFO
          {{.Edition}}</li>
        <li><strong>Download Connections CVs</strong> - É feito o download de um ficheiro .zip que contém os CVs dos
          participantes com quem a empresa fez <i>"Connect"</i>, bem como as notas tiradas pela empresa relativamente a
          esses
          mesmos participantes</li>
      </ul>
    </li>
  </ol>

  <p>Caso, por algum motivo, não consigam descarregar os CVs seguindo os passos supramencionados, pedimos que nos
    avisem, de forma a conseguirmos ajudar no procedimento ou a facultar os CVs por uma via alternativa.</p>

  <p>Gostaríamos de agradecer, uma vez mais, a vossa presença na SINFO {{.Edition}}, e esperamos voltar a encontrar-nos
    em {{.NextYear}}, na SINFO {{.NextEdition}}!
  </p>

  <p>Como sempre, estou disponível para esclarecer quaisquer questões adicionais.</p>

  <p>Com os melhores cumprimentos,</p>
</body>

</html>