<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SINFO {{.Edition}} - CVs Download</title>
  </head>
  <body>
    <p>Good morning {{.ContactName}},</p>

    <p>In order to finalize {{.Company}}'s participation at SINFO {{.Edition}}, we hereby provide you with the CVs collected by our team during the event. We apologize for the delay, this was the filtering process that is done after the submission deadline.</p>

    <p>To access the CV repository, follow the steps below:</p>

    <ol>
      <li>Log in to our Web App with the same account you used during the week of the event. It is important that you use the same account that was used during the event, since only the accounts promoted to "Company" are able to access the CVs</li>
      <li>In the home page you have two options:
        <ul>
          <li><strong>Download CVs</strong> - A .zip file containing all the CVs collected at SINFO {{.Edition}} is downloaded</li>
          <li><strong>Download Connections CVs</strong> - A different .zip file is downloaded. It contains the CVs of participants with whom the company created a "Connect", as well as the notes taken by the company regarding those same participants</li>
        </ul>
      </li>
    </ol>

    <p>If for some reason, you are unable to download the CVs following the steps mentioned above, we ask that you let us know so that we can help with the procedure or provide the CVs via an alternative route.</p>

    <p>We would like to thank you, once again, for your presence at SINFO {{.Edition}} and hope our paths will cross again next year!</p>

    <p>As always, I am available to answer any additional questions.</p>

    <p>Best regards,</p>
  </body>
</html>
