<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SINFO {{.Edition}} - Parking Request</title>
  </head>
  <body>
    <p>Good morning,</p>

    <p>This year, as a response to an important need of our sponsors, SINFO will offer one parking slot a day to each sponsor. This parking slot will be assured in the parking lot of Telpark Arco do Cego or Telpark Alves Redol. So, we ask that you send us, for each day of participation, the license plate number of the car that you want to park, until April 10th. Closer to the date, we will inform you which parking lot has been assigned to your company.</p>

    <p>Any questions you have, I'm available to clarify!</p>

    <p>Thank you,<br />
    Best regards</p>
  </body>
</html>
