<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SINFO {{.Edition}} - Pedido de Estacionamento</title>
  </head>
  <body>
    <p>Bom dia,</p>

    <p>Este ano, como resposta a uma necessidade importante junto dos nossos sponsors, a SINFO irá oferecer um lugar de estacionamento por dia a cada empresa sponsor. Este lugar de estacionamento será assegurado no parque Telpark Arco do Cego ou Telpark Alves Redol. Assim, pedimos que nos envie, até dia 10 de abril, a matrícula do carro que vão utilizar em cada dia de participação. Mais perto da data, informaremos qual será o parque atribuído a cada empresa.</p>

    <p>Alguma questão que tenha, estou disponível para esclarecer!</p>

    <p>Muito obrigado,<br />
    Com os melhores cumprimentos,</p>
  </body>
</html>
