<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SINFO {{.Edition}} - Informação sobre Refeições Vegan</title>
</head>

<body>
    <p>Boa tarde,</p>

    <p>Depois de falarmos com o nosso fornecedor de catering, concluímos que eles não conseguem garantir refeições vegan
        durante a semana da SINFO, apenas vegetariano. Como no formulário a {{.Company}} selecionou que necessitava de
        almoço vegan, queríamos informar que não iremos garantir que exista almoço vegan disponível durante o evento.
        Caso tenha selecionado almoço vegan mas pretendam à mesma usufruir do almoço vegetariano, por favor informe com
        resposta a este email.</p>

    <p>Pedimos desculpa por este inconveniente causado que está fora das nossas mãos.</p>

    <p>Caso tenha alguma questão, não hesite em contactar.</p>

    <p>Cumprimentos,</p>
</body>

</html>