<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SINFO {{.Edition}} - Vegan Meal Information</title>
  </head>
  <body>
    <p>Hi,</p>

    <p>After speaking with our caterer, we have concluded that they cannot guarantee vegan meals during SINFO week, only vegetarian meals. As in the form, {{.Company}} selected that they required a vegan lunch, we wanted to inform you that we will not guarantee that vegan lunches will be available during the event. If you have selected a vegan lunch but still wish to take advantage of the vegetarian lunch, please let us know with a reply to this email.</p>

    <p>We apologize for this inconvenience caused which is out of our hands.</p>

    <p>If you have any questions, please let me know.</p>

    <p>Best regards,</p>
  </body>
</html>
