<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SINFO {{.Edition}} - Lista de Espera</title>
  </head>
  <body>
    <p>Boa tarde {{.ContactName}},</p>

    <p>Venho por este meio agradecer o interesse da {{.Company}} no pacote {{.Package}}. Infelizmente, no momento de confirmação de interesse os pacotes já tinham esgotado, pelo que a {{.Company}} se encontra neste momento em Lista de Espera.</p>

    <p>Caso abra uma vaga entrarei em contacto para saber se o interesse em participarem na SINFO {{.Edition}} se mantém.</p>

    <p>Com os melhores cumprimentos,</p>
  </body>
</html>
