.content {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.bg-dark {
    background-color: #00254a !important;
}

.routers {
    display: flex;
    align-items: center;
}

.navbar-brand {
    cursor: default;
}

.nav-link {
    color: #8c9aa9;
}

.nav-link:hover, .selected, .selected:hover {
    color: white;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.right-side .edition {
    margin-right: 2%;
    color: white;
}

.right-side img {
    max-height: 40px;
}

.event-dropdown {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}