.items-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.filter-wrapper {
    height: 100%;
    width: 15%;
    margin-right: 2%;
}

.items-list-wrapper {
    width: 83%;
    overflow-y: scroll;
}

.items-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--font-secondary);
    padding: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 1rem;
    width: 19vw;
}

.item .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item .title .type {
    margin-left: 2%;
    color: var(--font-secondary);
    font-size: x-small;
}

.item .image-and-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
}

.item .image-and-values .image, .item .image-and-values .values {
    width: 30%;
}

.item .image-and-values .values {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item .image-and-values .values .vat {
    font-size: x-small;
    color: var(--font-secondary);
}

.item .description {
    font-size: small;
}