<div class="wrapper" *ngIf="contact">

    <div class="icon" *ngIf="contact.socials.facebook && contact.socials.facebook.length > 0">
        <img [src]="darkMode ? 'assets/icons/night/facebook.png' : 'assets/icons/day/facebook.png'"
            [ngbPopover]="facebook" placement="bottom" [autoClose]="'outside'">
    </div>

    <div class="icon" *ngIf="contact.socials.skype && contact.socials.skype.length > 0">
        <img [src]="darkMode ? 'assets/icons/night/skype.png' : 'assets/icons/day/skype.png'" [ngbPopover]="skype"
            placement="bottom" [autoClose]="'outside'">
    </div>

    <div class="icon" *ngIf="contact.socials.github && contact.socials.github.length > 0">
        <img [src]="darkMode ? 'assets/icons/night/github.png' : 'assets/icons/day/github.png'" [ngbPopover]="github"
            placement="bottom" [autoClose]="'outside'">
    </div>

    <div class="icon" *ngIf="contact.socials.twitter && contact.socials.twitter.length > 0">
        <img [src]="darkMode ? 'assets/icons/night/twitter.png' : 'assets/icons/day/twitter.png'" [ngbPopover]="twitter"
            placement="bottom" [autoClose]="'outside'">
    </div>

    <div class="icon" *ngIf="contact.socials.linkedin && contact.socials.linkedin.length > 0">
        <img [src]="darkMode ? 'assets/icons/night/linkedin.png' : 'assets/icons/day/linkedin.png'"
            [ngbPopover]="linkedin" placement="bottom" [autoClose]="'outside'">
    </div>

    <div class="icon" *ngIf="contact.mails.length > 0">
        <img [src]="darkMode ? 'assets/icons/night/email.png' : 'assets/icons/day/email.png'" [ngbPopover]="mails"
            placement="bottom" [autoClose]="'outside'">
    </div>

    <div class="icon" *ngIf="contact.phones.length > 0">
        <img [src]="darkMode ? 'assets/icons/night/phone.png' : 'assets/icons/day/phone.png'" [ngbPopover]="phones"
            placement="bottom" [autoClose]="'outside'">
    </div>

</div>

<ng-template #facebook>
    <div class="content">
        {{contact.socials.facebook}}
    </div>
</ng-template>

<ng-template #skype>
    <div class="content">
        {{contact.socials.skype}}
    </div>
</ng-template>

<ng-template #github>
    <div class="content">
        {{contact.socials.skype}}
    </div>
</ng-template>

<ng-template #linkedin>
    <div class="content">
        {{contact.socials.linkedin}}
    </div>
</ng-template>

<ng-template #twitter>
    <div class="content">
        {{contact.socials.twitter}}
    </div>
</ng-template>

<ng-template #mails>
    <div class="list">
        <div class="content" *ngFor="let mail of contact.mails">

            <div class="text" [ngStyle]="{ 'text-decoration': mail.valid ? none : 'line-through' }">
                {{ mail.mail }}
            </div>

            <div class="icon">
                <img *ngIf="mail.personal === true"
                    [src]="darkMode ? 'assets/icons/night/personal.png' : 'assets/icons/day/personal.png'">
            </div>

            <div class="icon">
                <img [src]="mail.valid ? 'assets/icons/valid.png' : 'assets/icons/invalid.png'">
            </div>

        </div>
    </div>
</ng-template>

<ng-template #phones>
    <div class="list">
        <div class="content" *ngFor="let phone of contact.phones">

            <div class="text" [ngStyle]="{ 'text-decoration': phone.valid ? none : 'line-through' }">
                {{ phone.phone }}
            </div>

            <div class="icon">
                <img [src]="phone.valid ? 'assets/icons/valid.png' : 'assets/icons/invalid.png'">
            </div>

        </div>
    </div>
</ng-template>