<div class="speaker-wrapper" *ngIf="speaker">

    <div class="speaker-header">

        <div class="speaker-details">

            <div class="speaker-image">
                <app-photo setBy="height" [url]="speaker.imgs.internal"></app-photo>
            </div>

            <div class="speaker-details-content">

                <div class="details-member" *ngIf="member">

                    <div class="member-image">
                        <app-photo setBy="height" [url]="member.img"></app-photo>
                    </div>

                    <div class="details-member-name">{{member.name}}</div>
                </div>

                <span class="details-content-wrapper">

                    <div class="details-name-title-wrapper">
                        <div class="details-name">{{speaker.name}}</div>
                        <div class="details-title">{{speaker.title}}</div>
                    </div>

                    <div class="details-status" [ngClass]="{
                        'suggested': participation.status == 'SUGGESTED',
                        'selected': participation.status == 'SELECTED',
                        'on-hold': participation.status == 'ON_HOLD',
                        'contacted': participation.status == 'CONTACTED',
                        'in-conversations': participation.status == 'IN_CONVERSATIONS',
                        'accepted': participation.status == 'ACCEPTED',
                        'rejected': participation.status == 'REJECTED',
                        'given-up': participation.status == 'GIVEN_UP',
                        'announced': participation.status == 'ANNOUNCED'
                    }" *ngIf="participation">{{participation.status | parseStatus }}</div>

                </span>

                <div class="details-socials">
                    <app-contact [contact]="contact"></app-contact>
                </div>

            </div>

        </div>

        <div class="speaker-header-right">
            <div class="speaker-bio">
                <div class="title">Biography</div>
                <div class="content" [innerHTML]="speaker.bio | markdown"></div>
            </div>

            <div class="speaker-notes">
                <div class="title">Notes</div>
                <div class="content" [innerHTML]="speaker.notes | markdown"></div>
            </div>
        </div>

    </div>

    <div class="operations">
        <div class="left">
            <div class="events-options" *ngIf="eventsOptions">
                <app-dropdown [labelTemplate]="labelTemplate" [optionsTemplate]="optionsTemplate"
                    [options]="eventsOptions">
                </app-dropdown>

                <ng-template #labelTemplate>
                    SINFO {{event.id}}
                </ng-template>

                <ng-template #optionsTemplate>
                    <button *ngFor="let option of eventsOptions"
                        (click)="selectEvent(option.event, option.participation)" ngbDropdownItem>
                        <div class="speaker-event-option-event">SINFO {{option.event.id}}</div>
                        <div class="speaker-event-option-status" [ngClass]="{
                                    'suggested': option.participation.status == 'SUGGESTED',
                                    'selected': option.participation.status == 'SELECTED',
                                    'on-hold': option.participation.status == 'ON_HOLD',
                                    'contacted': option.participation.status == 'CONTACTED',
                                    'in-conversations': option.participation.status == 'IN_CONVERSATIONS',
                                    'accepted': option.participation.status == 'ACCEPTED',
                                    'rejected': option.participation.status == 'REJECTED',
                                    'given-up': option.participation.status == 'GIVEN_UP',
                                    'announced': option.participation.status == 'ANNOUNCED'
                                }">{{ option.participation.status | parseStatus }}</div>
                    </button>
                </ng-template>
            </div>

            <div class="btn btn-outline-primary edit-speaker" (click)="openEditSpeakerForm()">
                Edit
            </div>

            <button class="btn btn-outline-primary edit-speaker" (click)="toggleComment()" [disabled]="!isCurrentEvent">
                Comment
            </button>
        </div>

        <div class="right">

            <div class="icon" *ngIf="subscribed">
                <img [src]="'assets/icons/subscribed.png'" (click)="toggleSubscription()">
            </div>

            <div class="icon" *ngIf="!subscribed">
                <img [src]="darkMode ? 'assets/icons/night/unsubscribed.png' : 'assets/icons/day/unsubscribed.png'"
                    (click)="toggleSubscription()">
            </div>
        </div>

    </div>

    <div class="speaker-communications">
        <div class="speaker-communication" *ngIf="createThread">
            <app-thread [create]="createThread" [speaker]="speaker" (updated)="refresh()"></app-thread>
        </div>

        <ng-container *ngIf="threads">
            <div class="speaker-communication" *ngFor="let thread of threads">
                <app-thread [thread]="thread" [speaker]="speaker" (updated)="refreshThread(thread)"></app-thread>
            </div>
        </ng-container>

    </div>

</div>