<div class="header">
    <h4 class="name">Create new Company</h4>
</div>

<div *ngIf="form">
    <form class="form" [formGroup]="form.form">

        <label>Name:<input type="text" formControlName="name"></label>
        <label>Site:<input type="text" formControlName="site"></label>
        <label>Description:<textarea type="text" formControlName="description"></textarea></label>

    </form>

    <div class="buttons">
        <button class="save" type="submit" [disabled]="!form.valid()" (click)="submitNewCompany()">
            Save
        </button>
    </div>
</div>